@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700|Dosis:400,800&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Catamaran", Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #faf8f5;
}

h2 {
  margin-bottom: 0;
  font-weight: bold;
  color: #4d6179;
}

/* * {
  outline: 1px solid red;
} */
